    <!DOCTYPE html>
    <html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Angular Social Posts Lab</title>
        <link href="stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <div id="mainContainer">
            

            <input id="newThought" type="button" ng-click="newThought=true">

            <div id="socialPostBox" ng-show="newThought" {{$ctrl.post.body}} {{$ctrl.post.title}} ></div>
            <button class="button"ng-click= ng-model="ctrlnewSocialPosts" {{$ctrlnewSocialPosts}}>Click me to add posts!</button>
            {{ctrl.add.newSocialPosts}}
        </div>
       
        <div
        ng-class= "{completed: ctrl.completed}"             
        ng-click="ctrl.toggleSelect(ctrl)">
        {{ctrl.add}}
        <input type="button" value="X" ng-model="ctrl.">     
    <div> 


        <div id="bottomContainer" ng-hide="bottomContainer" ng-click="bottomContainer= true"></div>
            <h2>Title</h2>
            <input type="text" ng-model="ctrlnewSocialPosts" id="inputBottomContainer" ng-submit="ctrl.add()">
            <h2>Thought</h2>
            <input type="text" id="newThought" ng-model="ctrlNewThought" ng-submit="ctrl.add()">
            <div id="addPost" type= "button"></div>
        </div>









        <post></post>
        <post-form></post-form>
        <social-posts></social-posts>   

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="module.js"></script>
        <script src="post.js"></script>
        <script src="postForm.js"></script>
        <script src="socialPosts.js"></script>
    </body>
    </html>