<!-- setting up form -->

<div id="myThoughtBox">
    <h1 id="thoughtBoxTitle">My Thoughts</h1>

    <button id="newThought" ng-repeat="p in ctrl.posts.title" title="p.title" body="p.body" ng-show="newPostBlueBox" ng-model="ctrl.Newpost"
        placeholder="New Thought" class="{completed: NewPost.completed}" 
        ng-click="ctrl.add(ctrl.NewPost)">New Thought</button>{{$ctrl.Newpost[0]}}
<div id="showPosts" ng-model="wherePostsEndUp"></div>

</div>


<div id="newPostBlueBox" ng-hide="newPostBlueBox">

    <h1 id="newPostBlueBoxTitle>">Title</h1>

    <input ng-model="ctrl.title" id="newPostBlueBoxInput" /> {{ title }}

    <h1 id="thoughtBlueBoxTitle">Thought</h1>

    <input ng-model="ctrl.body" id="thoughtBlueBoxTitleInput" /> {{ body }}

    <button id="addThoughtButton" ng-model="wherePostsEndUp" value="Save" ng-model-options="{ updateOn: 'blur' }" ng-repeat="a in ctrl.posts.title" title="a.title" body="a.body" ng-click="$ctrl.PushNewPost(ctrl.title, ctrl.body)">Add New Post</button>
    {{$ctrl.posts[0]}}


</div>