body {
    height: 50%;
    width: 500px;
    align-content: center;
    justify-content: center;
}

#newPostBlueBox {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #B1DDEA;
    font-family: 'Dosis', sans-serif;
    border: 1px black;
}

#newPostBlueBoxInput {
    display: flex;
    width: 83%;
    height: 5%;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 15%;
    cursor: pointer;
}
    
#thoughtBlueBoxTitleInput {
    display: flex;
    width: 83%;
    height: 25%;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 15%;
    cursor: pointer;
}  

#addThoughtButton{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Dosis', sans-serif;
    color: black;
    font-weight: 300;
    padding: 20px;
    width: 83%;
    border-radius: 15%;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}

#myThoughtBox {
    background-color: #f3f1f7;
    display: flex;
    flex-direction: column;
    padding: 50px;

}

#thoughtBoxTitle {
    font-family: 'Homemade Apple', cursive;
    color: rgb(3, 169, 244);
    text-align: center;

}

#thoughtBoxNewInput {
    display: flex;
    width: 83%;
    height: 5%;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 15%;
    cursor: pointer;
    background-color: white;
}
#newThought {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Dosis', sans-serif;
    color: black;
    font-weight: 300;
    padding: 20px;
    width: 83%;
    border-radius: 15%;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}

#showPosts {
    font-family: 'Dosis', sans-serif;
    border-color: black;
    height: 700px;
    background-color: white;
    border-radius: 5%;

}
